<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.css') }}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- table to display all current friendships -->
                <table class="table table-striped caption-top w-75">
                    <caption><h1>Friendships</h1></caption>
                    <thead>
                        <tr>
                            <th scope="col">User</th>
                            <th scope="col">Friend</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for friend in friends %}
                        <tr>
                            <td>{{ friend['User'] }}</td>
                            <td>{{ friend['Friend'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col">
                <div class="row">
                    <!-- form for creating new users  -->
                    <h2 class="mt-3">Create a User</h2>
                    <form action="/users/create" method="post">
                        <label for="first_name" class="form-label mt-3">First Name:</label>
                        <input type="text" name="first_name" id="first_name" class="form-control" required>
                        <label for="last_name" class="form-label mt-3">Last Name:</label>
                        <input type="text" name="last_name" id="last_name" class="form-control" required>
                        <input type="submit" value="Create" class="btn btn-primary mt-3">
                    </form>
                </div>
                <div class="row">
                    <h2 class="mt-3">Create a new Friendship</h2>
                    <!-- form for creating new friendships -->
                    <form action="/friendships/create" method="post">
                        <label for="first_user" class="form-label mt-3">First User:</label>
                        <select class="form-select mt-3 text-dark" name="first_user" id ="first_user">
                            <option value="" disabled selected>Select Option</option>
                            {% for user in users: %}
                            <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                            {% endfor %}
                        </select>
                        <label for="second_user" class="form-label mt-3">Second User:</label>
                        <select class="form-select mt-3" name="second_user" id ="second_user">
                            <option value="" disabled selected>Select Option</option>
                            {% for user in users: %}
                            <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                            {% endfor %}
                        </select>
                        <input type="submit" value="Create" class="btn btn-primary mt-3">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>